@import "../theme/colors";

ion-navbar {
    .bar-button {
        position: absolute;
        color: $dark;
        z-index: 1;
    }

    .toolbar-title-md {
        text-align: center;
        margin: 0 40px;
    }
}
